:root {
    --white: #fff;
    --black: #000;
    --btn-hover-bg: #333;
    --transition-1: all 0.5s;
    --radius-circle: 50%;
    --radius-pill: 50px;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    user-select: none;
}
.btn {
    padding: 15px 40px;
    text-align: none;
    font-size: 3rem;
    color: var(--black);
    border-radius: var(--radius-pill);
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    background: transparent;
    transition: var(--transition-1);
    border: 1px solid var(--black);
}
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Button Click Ripple */
.btn-ripple {
    border: 3px solid var(--black);
    color: var(--black);
    transition: var(--transition-1);
}
.btn-ripple:hover {
    background: var(--btn-hover-bg);
    color: var(--white);
}
.btn-ripple span {
    position: absolute;
    background: var(--white);
    pointer-events: none;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: var(--radius-circle);
    animation: ripples 1s linear infinite;
}
@keyframes ripples {
    0% {
        width: 0px;
        height: 0;
        opacity: 0.2;
    }
    100% {
        width: 350px;
        height: 350px;
        opacity: 0;
    }
}

/* Button Aqua */
.btn-aqua {
    color: var(--btn-hover-bg);
    /* display: block; */
    border: none;
    box-shadow: inset 0 10px 5px rgba(0, 0, 0, 0.05),
        0 25px 8px rgba(0, 0, 0, 0.05), 0 20px 15px rgba(0, 0, 0, 0.05),
        inset 0 -10px 15px rgba(255, 255, 255, 1);
}
.btn-aqua:hover {
    transform: translateY(-5px);
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05),
        0 5px 8px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05),
        inset 0 -10px 15px rgba(255, 255, 255, 1);
}

/* Button Bounce */
.btn-bouce:hover {
    background: var(--black);
    color: var(--white);
    overflow: hidden;
}
.btn-bouce span {
    display: inline-flex;
    transition: 0.5s;
    text-shadow: 0 100px var(--white);
}
.btn-bouce:hover span {
    transform: translateY(-100px);
}

/* Button Surrouding Shadow */
.btn-shadow {
    --clr: var(--white);
    color: var(--clr);
    background: var(--btn-hover-bg);
    transition: var(--transition-1);
}
.btn-shadow:hover {
    color: var(--clr);
    text-shadow: 0 0 15px var(--clr), 0 0 40px var(--clr);
}
.btn-shadow span {
    position: relative;
    z-index: 2;
}
.btn-shadow::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--clr), transparent, transparent);
    transition: 0.5s, top 0s, left 0s;
    opacity: 0;
}
.btn-shadow:hover::before {
    opacity: 1;
}
.btn-shadow::after {
    content: '';
    inset: 5px;
    position: absolute;
    background: var(--btn-hover-bg);
    opacity: 0.9;
    border-radius: var(--radius-pill);
}

/* 3d Glass Card */
.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 20px;
    transform-style: preserve-3d;
}
.container .card {
    width: 300px;
    height: 300px;
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: var(--transition-1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.container .card:hover {
    height: 450px;
}
.container .card .imgBox {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-width: initial;
    width: 300px;
    height: 260px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: var(--transition-1);
}
.container .card:hover .imgBox {
    top: -60px;
    left: 20px;
    right: 20px;
    width: 260px;
    transform: translate3d(0, 0, 75px);
}

.container .card .imgBox img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.container .card .content {
    position: relative;
    padding: 10px 15px;
    text-align: center;
    color: var(--white);
    visibility: hidden;
    opacity: 0;
    color: var(--btn-hover-bg);
    transition: var(--transition-1);
    transform: translateY(-200px) scale(1s);
}
.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px) scale(1);
}
